################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BigChessProject/.vs/BigChessProject/v17/Browse.VC.opendb
